<div class="container-fluid">

  <div class="custom-card">

    <div class="form-group">
      <input type="email"
             placeholder="Enter email address"
             class="form-control"
      />
    </div>
<br>
    <div class="form-group">
      <input type="password"
             placeholder="Enter password"
             class="form-control"
      />
    </div>
<br>
    <button class="loginBtn btn btn-block btn-primary">Login</button>

    <p class="horizontal-line-text">
      <span class="Line_Span">or</span>
    </p>

    <button class="btn btn-block google-sign-in">
      <img   class="googleImg" [src]="'assets/images/google.svg'" alt="google"/>
      <span class="googlespan">Continue with Google</span>
    </button>

  </div>

</div>